template(name="home")
    section#section1.cd-section
        .row
          .col-md-12
              .box-content
                  h1
                      | TITLE 1
                  .col-md-4
                      .box-text
                          h2 SUBTITLE 1
                          p Paragraph 1
                          p Paragraph 2
                  .col-md-4
                      .box-img
                          img(src='images/homeImg1.jpg', alt='')
                  .col-md-4
                      .box-text
                          h2 SUBTITLE 2
                          p Paragraph 3
                          p Paragraph 4
                          p Paragraph 5
                          h2 SUBTITLE 3
                          p Paragraph 6
                          p Paragraph 7
                          p Paragraph 8
              // close box content
              // close row
              // close container
              .parallax1
                .overlay
                    .container
                        .row
                            .col-md-12
                                .col-md-4
                                    .box-img
                                        img(src='images/homeImg2.jpg', alt='')
                                .col-md-4
                                    .box-text
                                        h2 SUBTITLE 4
                                        p Paragraph 9
                                        p Paragraph 10
                                .col-md-4
                                    .box-img
                                        img(src='images/homeImg3.jpg', alt='')
                // cd-section
