template(name="footer")
    section#section6.cd-section
        .container
            .row
                .col-md-12
                    footer.box-content
                        //footer logo
                        .footer-logo
                            img(src='images/logo_preload.png', alt='')
                        //footer social media
                        .footer-social
                            a(href='#', title='Facebook', target='_blank')
                                i.fa.fa-facebook
                            a(href='#', title='Twitter', target='_blank')
                                i.fa.fa-twitter
                        .footer-copy.clearfix
                            p
                                span ©
                                span {{displayFullYear}}
                                span  myExample.fr
