template(name="work")
    // SECTION WORK
    section#section2.cd-section
        .container
            .row
                .col-md-12
                    .box-content
                        h1  WORK 
                        // Category Filter
                        dl.group
                            dt
                            dd
                                ul.filter.group.albumFilter
                                    li.cl-effect-11.current(data-filter='*')
                                        a(data-hover='SHOWALL', href='#') SHOWALL
                                    li.cl-effect-11(data-filter='.cat1')
                                        a(data-hover='MARKETING', href='#') MARKETING
                                    li.cl-effect-11(data-filter='.cat2')
                                        a(data-hover='BRANDING', href='#') BRANDING
                                    li.cl-effect-11(data-filter='.cat3')
                                        a(data-hover='DESIGN', href='#') DESIGN
                                    li.cl-effect-11(data-filter='.cat4')
                                        a(data-hover='PHOTOGRAPHY', href='#') PHOTOGRAPHY
                        .portfolio.albumContainer
                            .cat3.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat2.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat1.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat3.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat4.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat1.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat4.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat2.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                            .cat3.col-md-4.item
                                .grid
                                    figure.effect-oscar
                                        a(href='')
                                            img(src='http://placehold.it/1100x1057', alt='')
                                        figcaption
                                            p Oscar is a decent man. He used to clean porches with pleasure.
                                            a.smooth-redirect(href='#')
                    // close box content
        .parallax2
            .overlay-white
                .container
                    .row
                        .col-md-12
                            #owl-demo.owl-carousel.owl-theme
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Brian Rood
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Miki Rood
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Robert Rood
    // cd-section
