template(name="home")
    section#section1.cd-section
        .row
            .col-md-12
                +homeFirstSection
                // close row
                // close container
                +homeSecondSection
                    // cd-section
