template(name="homeSecondSection")
  .parallax1
      .overlay
          .container
              .row
                  .col-md-12
                      .col-md-4
                          .box-img
                              img(src='images/homeImg2.jpg', alt='')
                      .col-md-4
                          .box-text
                              h2 SUBTITLE 4
                              p Paragraph 9
                              p Paragraph 10
                      .col-md-4
                          .box-img
                              img(src='images/homeImg3.jpg', alt='')
