template(name="work")
    // SECTION WORK
    section#section2.cd-section
        .container
            .row
                .col-md-12
                    .box-content
                        h1  WORK 
                        .portfolio.albumContainer
                          {{#each gallery}} {{> galleryList}} {{/each}}
                    // close box content
        .parallax2
            .overlay-white
                .container
                    .row
                        .col-md-12
                            #owl-demo.owl-carousel.owl-theme
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Brian Rood
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Miki Rood
                                .item
                                    .carousel-desc
                                        span.icon-anchor
                                        h1 What people say
                                        p
                                            | Fusce risus metus, placerat in 
                                            span consectetur
                                            |  eu, porttitor a est sed sed dolor lorem cras adipiscing
                                        p
                                            | A small 
                                            span creative
                                            |  team, trying to enrich the lives of others
                                        p.nm-name - Robert Rood
    // cd-section
