//urls
$url_0: url(../images/bg_p.png);
$url_1: url(../images/architecture.jpg);
$url_2: url(../images/section-parallax.jpg);
$url_3: url(../images/eye_off_on.png);
$url_4: url(../images/ui.totop.png);
