template(name="homeFirstSection")
  .box-content
      h1
          | TITLE 1
      .col-md-4
          .box-text
              h2 SUBTITLE 1
              p Paragraph 1
              p Paragraph 2
      .col-md-4
          .box-img
              img(src='images/homeImg1.jpg', alt='')
      .col-md-4
          .box-text
              h2 SUBTITLE 2
              p Paragraph 3
              p Paragraph 4
              p Paragraph 5
              h2 SUBTITLE 3
              p Paragraph 6
              p Paragraph 7
              p Paragraph 8
  // close box content
